$container-width: 100%; //容器宽度
// 文字超出限定宽度隐藏
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//居中容器的宽度
.center-container-width {
    width: 90%;
    margin: 0 auto;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}